@import "tailwindcss";

@theme {
  /* FONTS */
  --font-outfit: "Outfit", sans-serif;

  --brown-dark-950: #000000;
  --brown-dark-900: #3d3d3d;
  --brown-dark-800: #292929;
  --brown-dark-700: #4f4f4f;
  --brown-dark-500: #6d6d6d;
  --brown-ligth-400: #888888;
  --brown-ligth-300: #b0b0b0;
  --brown-ligth-200: #d1d1d1;
  --brown-ligth-100: #e7e7e7;
  --brown-ligth-50: #f6f6f6;
  --bg-state-red: #ffc9c9;
  --text-state-red: #82181a;
  --bg-state-yellow: #fff085;
  --text-state-yellow: #733e0a;
  --bg-state-green: #b9f8cf;
  --text-state-green: #0d542b;
}
