@import "tailwindcss";

@theme {
  /* FONTS */
  --font-outfit: "Outfit", sans-serif;

  /* COLORS */
  --brown-dark-950: #0a0e5c;
  --brown-dark-900: #00047a;
  --brown-dark-800: #000595;
  --brown-dark-700: #0003b4;
  --brown-dark-600: #0006df;
  --brown-dark-500: #0016ff;
  --brown-ligth-400: #2040ff;
  --brown-ligth-300: #6d81ff;
  --brown-ligth-200: #b2bbff;
  --brown-ligth-100: #dcdeff;
  --brown-ligth-50: #eeefff;
  --bg-state-red: #ffc9c9;
  --text-state-red: #82181a;
  --bg-state-yellow: #fff085;
  --text-state-yellow: #733e0a;
  --bg-state-green: #b9f8cf;
  --text-state-green: #0d542b;
}
